/*fonts*/
@font-face {
  font-family: "doods";
  src:
    url("./fonts/digory_doodles_ps-webfont.woff2") format("woff2"),
    url("./fonts/digory_doodles_ps-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gondolaSDRegular";
  src:
    url("./fonts/gondola_sd-webfont.woff2") format("woff2"),
    url("./fonts/gondola_sd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gondolaSDSwashRegular";
  src:
    url("./fonts/gondola_sd-swash-webfont.woff2") format("woff2"),
    url("./fonts/gondola_sd-swash-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "floraItalic";
  src:
    url("./fonts/florli__-webfont.woff2") format("woff2"),
    url("./fonts/florli__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "floraRegular";
  src:
    url("./fonts/florlrg_-webfont.woff2") format("woff2"),
    url("./fonts/florlrg_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  --_fontFamily: var(--fontFamily, , inherit);
  --_fontColor: var(--fontColor, inherit);
  --_padding: var(--padding, inherit);
  --_fontSize: var(--fontSize, inherit);
}
/*variables*/
:root {
  --_fontFamily: var(--fontFamily, "doods");
  --_fontSize: var(--fontSize, var(clamp(1em, 0.5em, +1.5vw, 2rem), 24px));
  --_fontColor: var(--fontColor, white);
  --_padding: var(--padding, 30px);
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto repeat(2, 1fr);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    /*for black overlay to improve readbility*/ url("./background-img1.jpg");
  background-size: cover;
  position: relative;
}

#content {
  --fontSize: 1.2em;
  line-height: 1.5em;
  grid-column: 1/4;
  grid-row: 2/4;
  display: grid;
  grid-template-rows: auto repeat(2, 1fr);
  color: var(--_fontColor);
  font-size: var(--_fontSize);
}
header {
  display: flex;
  grid-column: 1 / 4;
  justify-content: space-between;
  max-height: fit-content;
}
h2 {
  font-family: "doods";
  padding: var(--_padding);
  color: white;
  text-align: center;
  grid-column: 1/4;
}
#content > div {
  grid-column: 1/4;
  padding: var(--_padding);
  /* text-align: center; */
}
nav {
  padding: var(--_padding);
  max-height: fit-content;
  padding-left: 0;
}
button {
  --padding: 1em;
  --fontFamily: "gondolaSDRegular";
  border-radius: 8px;
  color: white;
  background: none;

  font-family: var(--_fontFamily);
  padding: var(--_padding);
}

/*photo credit*/
a {
  text-decoration: none;
  color: unset;
}
.photo-credit {
  --fontSize: 0.75em;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: var(--_fontColor);
  font-size: var(--_fontSize);
}
